.company-details{
    .company-header{
        background-image: linear-gradient(160deg, #2b76b9 0%,  #6713d2 100%);
        background-image: linear-gradient(135deg, #3d99be 0%, #3d99be 31%, #56317a 100%);
        color: white;
        box-sizing: border-box;
        padding: 20px;
        .company-header-title{
            font-weight: lighter;
            font-size: 24px;
        }
        .company-header-divider{
            background-color:white;
            margin-bottom: 10px;
        }
        .company-header-avatar{
            width:150px;
            height:150px;
            margin-right: 20px;
        }
        .company-header-sub-title{
            font-size: 12px;
            text-transform: uppercase;
        }
        .company-header-details{
            height: 150px;
            margin-right: 20px;
        }
        .company-header-detail{
            flex-basis: auto;
        }
    }

}