.companies .page-title{
margin-bottom: 50px ;
}

.companies .search-bar{
    margin-bottom: 20px;
}

.companies .search-bar .search-wrapper{
    padding: 10px;
    display: flex;
}

.companies .search-bar .search-wrapper .search-input{
    flex:1
}